{% extends "template.html" %}

{% block title %}
Verbalyze
{% endblock %}

{% block content %}

<div class="Verbalyze">
	<h1>Verbalyze </h1>
	<h2> :Speech to Text to Summarized PDF:</h2>
	<p> Take notes with your voice, and have the summary converted into a PDF.</p>
	<p> Secure, accurate & super fast.</p>
</div>
<div class="box-outline">
	<img src="/mic.png" alt="mic">
	<h6>Dictate Notes</h6>
	<button onclick="window.location.href='/verbalyze'" class="center"> START VERBALYZING</button>
	<p>Start taking notes, on our online <br> voice-enabled notepad right away, for free.</p>
</div>
{% endblock %}