{% extends "template.html" %}

{% block title %}
Verbalyze
{% endblock %}

{% block content %}

<div class="notepad">
    <textarea id="textArea" rows="10" cols="50"></textarea>
</div>

<div class="recorder">
    <h3>Click here to Start/Stop Recording</h3>
    <button id="recordButton" class="center"> START RECORDING</button>
</div>

<div id="summaryContainer" class="summary"></div>

<script>
var isRecording = false;
var recordButton = document.getElementById("recordButton");
const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
    if (!SpeechRecognition) {
        console.log("Speech recognition is not supported in this browser.");
    }      
const recognition = new SpeechRecognition();
recognition.lang = "en-US";
recognition.continuous = true;
recognition.interimResults = true;
var summaryContainer = document.getElementById("summaryContainer");
recognition.onresult = function(event) {
  const transcript = event.results[event.results.length - 1][0].transcript;
  const isFinal = event.results[event.results.length - 1].isFinal;
  
  if (isFinal) {
    console.log("Final recognized speech:", transcript);
    document.getElementById('textArea').value += transcript;
  }
};
recognition.onerror = function(event) {
    console.error("Speech recognition error:", event.error);
    };
recordButton.addEventListener("click", function() {
    isRecording = !isRecording;
    recordButton.textContent = isRecording ? "STOP RECORDING" : "START RECORDING";
    if (isRecording) {
        var existingSummarizeButton = document.getElementById("summarizeButton");
        if (existingSummarizeButton) {
            summaryContainer.removeChild(existingSummarizeButton);
        }
        var notepad = document.getElementById('textArea');
        window.addEventListener('click', function() {
            notepad.focus();
        });
        recognition.start();
            console.log("Speech recognition started.");
    } 
    else {
        var summarizeButton = document.createElement("button");
        summarizeButton.id = "summarizeButton";
        summarizeButton.className = "center";
        summarizeButton.textContent = "SUMMARIZE";
        summarizeButton.addEventListener("click", function() {
            const text = textArea.value;
            const url = `/download.html?transcript=${encodeURIComponent(text)}`;
            window.location.href = url;
            console.log("Text sent for summarization:", text);
        window.location.href = "/download"});
        summaryContainer.appendChild(summarizeButton);
        recognition.stop();
            console.log("Speech recognition stopped.");
    }})

</script>

{% endblock %}